<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lookbook</title>
  </head>
  <body>
    <h2>Lookbook Static on Express</h2>
  </body>
</html>